 #start{
    position: absolute;
    bottom: 20%;
    left: 40%;
    width: 20vw;
    height: 15vw;
    font-size: 3vw;
    color: red;
    border-radius: 35%;

}
#ball {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    background: red;
    top: 4vw;
    left: 4vw;;
}

.hole, .correctHole{ 
    width: 13vw;
    height: 13vw;
    border-radius: 50%;
    z-index: -2;
    position: absolute;
}
.hole{
    background: black;
}
.correctHole{
background: lime;
z-index: -1;
}