 #start{
    position: absolute;
    bottom: 20%;
    left: 40%;
    width: 20vw;
    height: 15vw;
    font-size: 3vw;
    color: red;
    border-radius: 35%;

}

.hole{ 
    width: 75px;
    height: 75px;
    border-radius: 50%;
    z-index: -2;
    position: absolute;
}
.hole{
    background: black;
}